# IntelliJ IDEA
*.iml
*.iws

# Android Studio configurations
/local.properties
.idea/
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build
android
caches
daemon
native
wrapper

# Gradle files
.gradle
.gradle/
build/
.gradle/config.properties

# macOS Desktop Services store
.DS_Store

# Visual Paradigm
../GameRise-App1.vpp.*
../.GameRise-App1.vp*
