# IntelliJ IDEA
*.iml
*.iws

# User-specific configurations
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
/captures
.externalNativeBuild
.cxx
local.properties
gamerise/.idea/deploymentTargetSelector.xml
gamerise/.idea/misc.xml

# Gradle files
.gradle
.gradle/
build/
.gradle/config.properties

# macOS Desktop Services store
.DS_Store